<div class="h-full bg-slate-800 p-5">

    <h1 class="text-xl font-bold mb-8">
        Dev Dashboard
    </h1>

    <nav class="space-y-3 text-sm">

        <a routerLink="/" routerLinkActive="text-indigo-400 font-semibold" [routerLinkActiveOptions]="{exact:true}"
            class="block hover:text-indigo-400">
            Dashboard
        </a>

        <a routerLink="/frontend" routerLinkActive="text-indigo-400 font-semibold" class="block hover:text-indigo-400">
            Frontend Skills
        </a>

        <a routerLink="/backend" routerLinkActive="text-indigo-400 font-semibold" class="block hover:text-indigo-400">
            Backend Skills
        </a>

        <a routerLink="/ai" routerLinkActive="text-indigo-400 font-semibold" class="block hover:text-indigo-400">
            AI Skills
        </a>

        <a routerLink="/projects" routerLinkActive="text-indigo-400 font-semibold" class="block hover:text-indigo-400">
            Projects
        </a>

        <a routerLink="/architecture" routerLinkActive="text-indigo-400 font-semibold"
            class="block hover:text-indigo-400">
            Architecture
        </a>

    </nav>

</div>