<div class="space-y-8">

    <h1 class="text-3xl font-bold">Projects</h1>

    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">

        <div *ngFor="let project of projects"
            class="bg-white/20 dark:bg-slate-800/40 backdrop-blur-xl border border-white/20 p-6 rounded-2xl hover:scale-105 hover:shadow-blue-500/20 hover:shadow-2xl transition-all duration-300 flex flex-col justify-between
            border border-white/20 p-6 rounded-2xl hover:scale-105 hover:shadow-2xl transition-all duration-300 flex flex-col justify-between">

            <div class="absolute inset-0 rounded-2xl opacity-0 group-hover:opacity-100 
            transition duration-500 blur-2xl
            bg-gradient-to-r from-blue-500/40 via-purple-500/40 to-indigo-500/40">
            </div>
            <!-- Project Title -->
            <div>
                <h3 class="text-lg font-semibold">
                    {{project.name}}
                </h3>

                <p class="text-gray-300 text-sm mt-3 leading-relaxed">
                    {{project.description}}
                </p>
            </div>

            <!-- Tech Stack -->
            <div class="flex flex-wrap gap-2 mt-4">

                <span *ngFor="let tech of project.tech"
                    class="text-xs px-2 py-1 rounded-md bg-blue-500/20 text-blue-400 border border-blue-500/20">
                    {{tech}}
                </span>

            </div>

            <!-- Status -->
            <div class="mt-4 text-xs text-gray-400">
                {{project.architecture}}
            </div>

            <!-- Buttons -->
            <div class="flex gap-3 mt-5">

                <a *ngIf="project.github" [href]="project.github" target="_blank"
                    class="px-3 py-1 text-sm rounded-lg bg-slate-700 hover:bg-slate-600 transition">
                    GitHub
                </a>

                <a *ngIf="project.demo" [href]="project.demo" target="_blank"
                    class="px-3 py-1 text-sm rounded-lg bg-blue-500 hover:bg-blue-600 transition">
                    Live Demo
                </a>

            </div>

        </div>

    </div>

</div>