<div class="bg-slate-800 px-4 md:px-6 py-4 flex items-center justify-between">

    <div class="font-semibold text-sm md:text-base">
        Developer Capability Dashboard
    </div>

    <div class="flex gap-2 md:gap-4">

        <a href="https://github.com/oza-27" target="_blank" class="bg-indigo-500 px-3 md:px-4 py-1 rounded text-sm">
            GitHub
        </a>

        <a href="https://www.linkedin.com/in/soumy-oza?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BTbctO89JTj6%2BpkmiwIqegA%3D%3D" target="_blank" class="bg-indigo-500 px-3 md:px-4 py-1 rounded text-sm">
            LinkedIn
        </a>

    </div>

</div>